//
    Created by kim on 6-9-2016.
doctype html
html
    head
        title Testt
        link(rel='stylesheet',href='http://www.codeproject.com/stylesheet/style.css')
    body
        h1 Hooooiiii
        p Dit is een testtttttttttttttt